body
{

	margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;

	background-color: #E6E6E6;

	font: 20px Andele Mono;font-weight: bold;
}








#arrivo
{
	margin-top: -140px;
	margin-right: 10px;;

	color: #BBBBBB;
	text-shadow: 2px 2px 4px black;
	text-align: right;
}


#form-login
{
	margin-top: 30px;
	margin-left: 50px;

	color: #444444;
}




#paginazione
{
	
	width: 1000px;
	padding: 150px;

	margin: auto;

	background-color: white;

	border-radius: 5px;
	border-top: 4px groove #FFFFFF;
	border-left: 4px groove #FFFFFF;
	border-right: 4px ridge #FFFFFF;
	border-bottom: 4px ridge #FFFFFF;

	box-shadow: 8px 8px 20px lightblue;
}


#logo
{
	margin-top: 30px;
	height: 200px;

	background-color:#E6E6E6;
	background-image: url('../immagini/logo3.bmp');
	background-repeat: no-repeat;
	background-position: center;

	/*border-radius: 5px 5px 0px 0px;*/
}










#main
{
	background-color: #9999FF;

	text-align: center;
}

div#main a:link, div#main a:visited
{
	color: blue;
	text-decoration: none;
}

div#main a:hover
{
	color: black;
	text-decoration: underline;
}

div#main ul
{
	margin: 0px;

	padding: 0px 0px;

    	border-bottom: 10px solid lightblue;
}


div#main .current_page
{
	background-color: black;
	
}

div#main li
{
	width: 125px;

	margin: 0px 0px;

	padding: 5px;

	background-color: #E6E6E6;

	

	display: inline-block;

	

	text-align: center;
}

