body
{

	margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;

	background-color: #E6E6E6;

	/*font: 15px Trebuchet MS;*/
}

#logo
{
	height: 100px;

	background-color:#E6E6E6;
	background-image: url('../immagini/logo2.bmp');
	background-repeat: no-repeat;
	background-position: 90px 10px;

	/*border-radius: 5px 5px 0px 0px;*/
}


#forma
{
	
	margin-left:350px;
	
}